Web References/SAPContabilizacionEntrada/porttypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:WS_ENTRADAS_LGWsd/WS_ENTRADAS_LGVi/document" xmlns:ns0="urn:WS_ENTRADAS_LGVi" targetNamespace="urn:WS_ENTRADAS_LGWsd/WS_ENTRADAS_LGVi/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn:tables" elementFormDefault="qualified" targetNamespace="urn:tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ZmmLgMateriales">
        <xs:sequence>
          <xs:element minOccurs="0" name="almacen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="almacenRecept" nillable="true" type="xs:string" />
          <xs:element name="cantidad" type="xs:double" />
          <xs:element minOccurs="0" name="centro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="centroRecept" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="destinatario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaVenc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="loteRecept" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="material" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="materialRecept" nillable="true" type="xs:string" />
          <xs:element name="posContable" type="xs:int" />
          <xs:element name="posDocumento" type="xs:int" />
          <xs:element minOccurs="0" name="textoPos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputContabLg">
        <xs:sequence>
          <xs:element minOccurs="0" name="oMensajes" nillable="true" type="tns:ArrayOfBapiret2" />
          <xs:element minOccurs="0" name="rMateriales" nillable="true" type="tns:ArrayOfZmmLgMateriales" />
          <xs:element minOccurs="0" name="rSeriales" nillable="true" type="tns:ArrayOfZmmLgSerialnumber" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ZmmLgSerialnumber">
        <xs:sequence>
          <xs:element minOccurs="0" name="material" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="noSerie" nillable="true" type="xs:string" />
          <xs:element name="posContable" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ZmmLgEntradasCab">
        <xs:sequence>
          <xs:element minOccurs="0" name="centroCosto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="division" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="entregaFactura" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="noOrden" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pedidoDoccomp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sociedad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="textoCab" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vale" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Bapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element name="logMsgNo" type="xs:int" />
          <xs:element minOccurs="0" name="logNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV4" nillable="true" type="xs:string" />
          <xs:element name="number" type="xs:int" />
          <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
          <xs:element name="row" type="xs:int" />
          <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Bapiret2" nillable="true" type="tns:Bapiret2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLgMateriales">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLgMateriales" nillable="true" type="tns:ZmmLgMateriales" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLgSerialnumber">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLgSerialnumber" nillable="true" type="tns:ZmmLgSerialnumber" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:s0="urn:tables" xmlns:tns="urn:WS_ENTRADAS_LGVi" elementFormDefault="qualified" targetNamespace="urn:WS_ENTRADAS_LGVi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:tables" />
      <xs:element name="executeZmmLgContabEntradas">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iIndCaso" nillable="true" type="xs:string" />
            <xs:element name="iClMovimiento" nillable="true" type="xs:string" />
            <xs:element name="iEntradasCab" nillable="true" type="s0:ZmmLgEntradasCab" />
            <xs:element name="iConsultar" nillable="true" type="xs:string" />
            <xs:element name="rMateriales" nillable="true" type="s0:ArrayOfZmmLgMateriales" />
            <xs:element name="rSeriales" nillable="true" type="s0:ArrayOfZmmLgSerialnumber" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeZmmLgContabEntradasResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:OutputContabLg" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeZmmLgContabEntradasIn_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgContabEntradas" />
  </wsdl:message>
  <wsdl:message name="executeZmmLgContabEntradasOut_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgContabEntradasResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_ENTRADAS_LGVi_Document">
    <wsdl:operation name="executeZmmLgContabEntradas">
      <wsdl:input message="tns:executeZmmLgContabEntradasIn_doc" />
      <wsdl:output message="tns:executeZmmLgContabEntradasOut_doc" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>