Web References/SAPZmmCapser/porttypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:WS_CAPSER_LGWsd/WS_CAPSER_LGVi/document" xmlns:ns0="urn:WS_CAPSER_LGVi" targetNamespace="urn:WS_CAPSER_LGWsd/WS_CAPSER_LGVi/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn:tables" elementFormDefault="qualified" targetNamespace="urn:tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ZmmLmEntregas">
        <xs:sequence>
          <xs:element minOccurs="0" name="charg" nillable="true" type="xs:string" />
          <xs:element name="lfimg" type="xs:double" />
          <xs:element minOccurs="0" name="lgort" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lgortR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="matnr" nillable="true" type="xs:string" />
          <xs:element name="posnr" type="xs:int" />
          <xs:element minOccurs="0" name="vbeln" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="werks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="werksR" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputLgCapSer">
        <xs:sequence>
          <xs:element minOccurs="0" name="oReturn" nillable="true" type="tns:ArrayOfBapiret2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ZmmLmSeriales">
        <xs:sequence>
          <xs:element minOccurs="0" name="herst" nillable="true" type="xs:string" />
          <xs:element name="posnr" type="xs:int" />
          <xs:element minOccurs="0" name="sernr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="typbz" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vbeln" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Bapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element name="logMsgNo" type="xs:int" />
          <xs:element minOccurs="0" name="logNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV4" nillable="true" type="xs:string" />
          <xs:element name="number" type="xs:int" />
          <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
          <xs:element name="row" type="xs:int" />
          <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Bapiret2" nillable="true" type="tns:Bapiret2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLmEntregas">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLmEntregas" nillable="true" type="tns:ZmmLmEntregas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLmSeriales">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLmSeriales" nillable="true" type="tns:ZmmLmSeriales" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:s0="urn:tables" xmlns:tns="urn:WS_CAPSER_LGVi" elementFormDefault="qualified" targetNamespace="urn:WS_CAPSER_LGVi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:tables" />
      <xs:element name="executeZmmLgCapser">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iVbeln" nillable="true" type="xs:string" />
            <xs:element name="iBolnr" nillable="true" type="xs:string" />
            <xs:element name="iGuia" nillable="true" type="xs:string" />
            <xs:element name="iContabEm" nillable="true" type="xs:string" />
            <xs:element name="iPosEntregas" nillable="true" type="s0:ArrayOfZmmLmEntregas" />
            <xs:element name="iPosSeriales" nillable="true" type="s0:ArrayOfZmmLmSeriales" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeZmmLgCapserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:OutputLgCapSer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeZmmLgCapserIn_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgCapser" />
  </wsdl:message>
  <wsdl:message name="executeZmmLgCapserOut_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgCapserResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_CAPSER_LGVi_Document">
    <wsdl:operation name="executeZmmLgCapser">
      <wsdl:input message="tns:executeZmmLgCapserIn_doc" />
      <wsdl:output message="tns:executeZmmLgCapserOut_doc" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>