Web References/SAPImpresionDocumentos/porttypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:WS_PDF_LGWsd/WS_PDF_LGVi/document" xmlns:ns0="urn:WS_PDF_LGVi" targetNamespace="urn:WS_PDF_LGWsd/WS_PDF_LGVi/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn:tables" elementFormDefault="qualified" targetNamespace="urn:tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Bapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element name="logMsgNo" type="xs:int" />
          <xs:element minOccurs="0" name="logNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV4" nillable="true" type="xs:string" />
          <xs:element name="number" type="xs:int" />
          <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
          <xs:element name="row" type="xs:int" />
          <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputLgPdf">
        <xs:sequence>
          <xs:element minOccurs="0" name="oMensajes" nillable="true" type="tns:ArrayOfBapiret2" />
          <xs:element minOccurs="0" name="oPdf" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Bapiret2" nillable="true" type="tns:Bapiret2" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:s0="urn:tables" xmlns:tns="urn:WS_PDF_LGVi" elementFormDefault="qualified" targetNamespace="urn:WS_PDF_LGVi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:tables" />
      <xs:element name="executeZmmLgGeneraPdf">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iIndicador" nillable="true" type="xs:string" />
            <xs:element name="iModoTratam" type="xs:int" />
            <xs:element name="iDocumento" nillable="true" type="xs:string" />
            <xs:element name="iEjercicio" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeZmmLgGeneraPdfResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:OutputLgPdf" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeZmmLgGeneraPdfIn_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgGeneraPdf" />
  </wsdl:message>
  <wsdl:message name="executeZmmLgGeneraPdfOut_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgGeneraPdfResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_PDF_LGVi_Document">
    <wsdl:operation name="executeZmmLgGeneraPdf">
      <wsdl:input message="tns:executeZmmLgGeneraPdfIn_doc" />
      <wsdl:output message="tns:executeZmmLgGeneraPdfOut_doc" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>