Web References/SAPConsultarSerial/porttypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:WS_INV_SERIALES_LGWsd/WS_INV_SERIALES_LGVi/document" xmlns:ns0="urn:WS_INV_SERIALES_LGVi" targetNamespace="urn:WS_INV_SERIALES_LGWsd/WS_INV_SERIALES_LGVi/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn:tables" elementFormDefault="qualified" targetNamespace="urn:tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ZmmLgInvSeriales">
        <xs:sequence>
          <xs:element minOccurs="0" name="almacen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="centro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="declaracion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaMov" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="material" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stockEspecial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoStock" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="usuarioMov" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EkpoMatnr">
        <xs:sequence>
          <xs:element minOccurs="0" name="matnr" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Zsernr">
        <xs:sequence>
          <xs:element minOccurs="0" name="sernr" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputLgInvSeriales">
        <xs:sequence>
          <xs:element minOccurs="0" name="oMensajes" nillable="true" type="tns:ArrayOfBapiret1" />
          <xs:element minOccurs="0" name="oSeriales" nillable="true" type="tns:ArrayOfZmmLgInvSeriales" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Bapiret1">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element name="logMsgNo" type="xs:int" />
          <xs:element minOccurs="0" name="logNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV4" nillable="true" type="xs:string" />
          <xs:element name="number" type="xs:int" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLgInvSeriales">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLgInvSeriales" nillable="true" type="tns:ZmmLgInvSeriales" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBapiret1">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Bapiret1" nillable="true" type="tns:Bapiret1" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZsernr">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Zsernr" nillable="true" type="tns:Zsernr" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfEkpoMatnr">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="EkpoMatnr" nillable="true" type="tns:EkpoMatnr" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:s0="urn:tables" xmlns:tns="urn:WS_INV_SERIALES_LGVi" elementFormDefault="qualified" targetNamespace="urn:WS_INV_SERIALES_LGVi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:tables" />
      <xs:element name="executeZmmLgInventarioSeriales">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iMatnr" nillable="true" type="s0:ArrayOfEkpoMatnr" />
            <xs:element name="iSernr" nillable="true" type="s0:ArrayOfZsernr" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeZmmLgInventarioSerialesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:OutputLgInvSeriales" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeZmmLgInventarioSerialesIn_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgInventarioSeriales" />
  </wsdl:message>
  <wsdl:message name="executeZmmLgInventarioSerialesOut_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgInventarioSerialesResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_INV_SERIALES_LGVi_Document">
    <wsdl:operation name="executeZmmLgInventarioSeriales">
      <wsdl:input message="tns:executeZmmLgInventarioSerialesIn_doc" />
      <wsdl:output message="tns:executeZmmLgInventarioSerialesOut_doc" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>