Web References/SAPMaestroAlmacenes/porttypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:WS_MAESTRO_CENTRO_LGWsd/WS_MAESTRO_CENTRO_LGVi/document" xmlns:ns0="urn:WS_MAESTRO_CENTRO_LGVi" targetNamespace="urn:WS_MAESTRO_CENTRO_LGWsd/WS_MAESTRO_CENTRO_LGVi/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn:tables" elementFormDefault="qualified" targetNamespace="urn:tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ZmmLgCentros">
        <xs:sequence>
          <xs:element minOccurs="0" name="almacen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="centro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="descAlmacen" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WsorWerk">
        <xs:sequence>
          <xs:element minOccurs="0" name="werks" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputLgMaestroCentro">
        <xs:sequence>
          <xs:element minOccurs="0" name="oCentros" nillable="true" type="tns:ArrayOfZmmLgCentros" />
          <xs:element minOccurs="0" name="oMensajes" nillable="true" type="tns:ArrayOfBapiret1" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Bapiret1">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element name="logMsgNo" type="xs:int" />
          <xs:element minOccurs="0" name="logNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV4" nillable="true" type="xs:string" />
          <xs:element name="number" type="xs:int" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLgCentros">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLgCentros" nillable="true" type="tns:ZmmLgCentros" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBapiret1">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Bapiret1" nillable="true" type="tns:Bapiret1" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfWsorWerk">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="WsorWerk" nillable="true" type="tns:WsorWerk" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:s0="urn:tables" xmlns:tns="urn:WS_MAESTRO_CENTRO_LGVi" elementFormDefault="qualified" targetNamespace="urn:WS_MAESTRO_CENTRO_LGVi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:tables" />
      <xs:element name="executeZmmLgMaestroCentro">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iCentros" nillable="true" type="s0:ArrayOfWsorWerk" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeZmmLgMaestroCentroResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:OutputLgMaestroCentro" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeZmmLgMaestroCentroIn_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgMaestroCentro" />
  </wsdl:message>
  <wsdl:message name="executeZmmLgMaestroCentroOut_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgMaestroCentroResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MAESTRO_CENTRO_LGVi_Document">
    <wsdl:operation name="executeZmmLgMaestroCentro">
      <wsdl:input message="tns:executeZmmLgMaestroCentroIn_doc" />
      <wsdl:output message="tns:executeZmmLgMaestroCentroOut_doc" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>