Web References/SAPAdicionDeclaracion/porttypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:WS_ADICION_DECLARACION_LGWsd/WS_ADICION_DECLARACION_LGVi/document" xmlns:ns0="urn:WS_ADICION_DECLARACION_LGVi" targetNamespace="urn:WS_ADICION_DECLARACION_LGWsd/WS_ADICION_DECLARACION_LGVi/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn:tables" elementFormDefault="qualified" targetNamespace="urn:tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ZmmLmDeclaracion">
        <xs:sequence>
          <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="declaracion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fecRep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="guia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="material" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nroPed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputLgAdicionDeclaracion">
        <xs:sequence>
          <xs:element minOccurs="0" name="oMensajes" nillable="true" type="tns:ArrayOfBapiret2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Bapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element name="logMsgNo" type="xs:int" />
          <xs:element minOccurs="0" name="logNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV4" nillable="true" type="xs:string" />
          <xs:element name="number" type="xs:int" />
          <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
          <xs:element name="row" type="xs:int" />
          <xs:element minOccurs="0" name="system" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBapiret2">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Bapiret2" nillable="true" type="tns:Bapiret2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLmDeclaracion">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLmDeclaracion" nillable="true" type="tns:ZmmLmDeclaracion" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:s0="urn:tables" xmlns:tns="urn:WS_ADICION_DECLARACION_LGVi" elementFormDefault="qualified" targetNamespace="urn:WS_ADICION_DECLARACION_LGVi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:tables" />
      <xs:element name="executeZmmLgAdicionDeclaracion">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iSeriales" nillable="true" type="s0:ArrayOfZmmLmDeclaracion" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeZmmLgAdicionDeclaracionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:OutputLgAdicionDeclaracion" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeZmmLgAdicionDeclaracionIn_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgAdicionDeclaracion" />
  </wsdl:message>
  <wsdl:message name="executeZmmLgAdicionDeclaracionOut_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgAdicionDeclaracionResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_ADICION_DECLARACION_LGVi_Document">
    <wsdl:operation name="executeZmmLgAdicionDeclaracion">
      <wsdl:input message="tns:executeZmmLgAdicionDeclaracionIn_doc" />
      <wsdl:output message="tns:executeZmmLgAdicionDeclaracionOut_doc" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>