Web References/SAPMaestroDestinatarios/porttypes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:WS_MAESTRO_DESTINATARIO_LGWsd/WS_MAESTRO_DESTINATARIO_LGVi/document" xmlns:ns0="urn:WS_MAESTRO_DESTINATARIO_LGVi" targetNamespace="urn:WS_MAESTRO_DESTINATARIO_LGWsd/WS_MAESTRO_DESTINATARIO_LGVi/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn:tables" elementFormDefault="qualified" targetNamespace="urn:tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Bapiret1">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element name="logMsgNo" type="xs:int" />
          <xs:element minOccurs="0" name="logNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageV4" nillable="true" type="xs:string" />
          <xs:element name="number" type="xs:int" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ZmmLgDestinatario">
        <xs:sequence>
          <xs:element minOccurs="0" name="almacen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="centro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="emailContacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fechaHoraModificacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nombreContacto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="padre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoModificacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OutputLgMaestroDestinatario">
        <xs:sequence>
          <xs:element minOccurs="0" name="oDestinatarios" nillable="true" type="tns:ArrayOfZmmLgDestinatario" />
          <xs:element minOccurs="0" name="oMensajes" nillable="true" type="tns:ArrayOfBapiret1" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfBapiret1">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Bapiret1" nillable="true" type="tns:Bapiret1" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfZmmLgDestinatario">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZmmLgDestinatario" nillable="true" type="tns:ZmmLgDestinatario" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:s0="urn:tables" xmlns:tns="urn:WS_MAESTRO_DESTINATARIO_LGVi" elementFormDefault="qualified" targetNamespace="urn:WS_MAESTRO_DESTINATARIO_LGVi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="urn:tables" />
      <xs:element name="executeZmmLgMaestroDestinatario">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="iFecha" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executeZmmLgMaestroDestinatarioResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Response" nillable="true" type="s0:OutputLgMaestroDestinatario" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeZmmLgMaestroDestinatarioIn_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgMaestroDestinatario" />
  </wsdl:message>
  <wsdl:message name="executeZmmLgMaestroDestinatarioOut_doc">
    <wsdl:part name="parameters" element="ns0:executeZmmLgMaestroDestinatarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_MAESTRO_DESTINATARIO_LGVi_Document">
    <wsdl:operation name="executeZmmLgMaestroDestinatario">
      <wsdl:input message="tns:executeZmmLgMaestroDestinatarioIn_doc" />
      <wsdl:output message="tns:executeZmmLgMaestroDestinatarioOut_doc" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>